{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - site de ecommerce{% endblock %}

{% block body %}
    <div class="d-flex flex-column justify-content-center align-items-center border">
        <h1 class="text-center">Modifier mon mot de passe</h1>
        <a class="text-start" href="{{ path('account') }}">Retourner à mon compte</a>
        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
        {% endif %}
        <div class="">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}