{% extends 'base.html.twig' %}

{% block title %}checkout{% endblock %}

{% block body %}
    <div class="">
        <h1 class="display-6 text-center pt-5">checkout</h1>
        <h3  class="fs-5 text-center">Merci pour votre commande</h3>
    </div>
{% endblock %}
