{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-center display-6">Inscription</h1>
        <div class='w-25 fs-5'>
            {{form(form)}}
        </div>
    </div>
{% endblock %}
